        
:root{
    background-color: #ded5d5;

    
}
.body{
    min-width: 700px;
        max-width: 1000px;
        margin: 0 auto;
        
}


.Main{
    

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    padding-top: 43px;
    display: inline-block;
    padding-left: 10em;
}


.Main{
    min-width: 700px;
        max-width: 1000px;
        margin: 0 auto;

}






.Mandatory{
    
font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-left: 242px;
    padding-top: 5em;
}


.Information{
    margin-bottom: 1em;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-left: 12em;
    /* padding-top: 2em; */
    margin-top: 2em;
}
.Intake{
    margin-left: 0.6em;
    padding-top: 2em;
    font-family: 'Public Sans';
    
font-style: normal;
font-weight: 500;
font-size: 16px

}
/*
.conteiner {
    display: inline-block;
    font-family: 'Public Sans';
    line-height: 2em;
    font-style: normal;
    font-weight: 500;
     font-size: 16px;
     margin-left: 12em;
     width: 45%;
}

.hr{
    width: 1000px;

}
.item{
    border: 1px solid #ADADAD;
    width: 392px;
     height: 40px;
     margin-bottom: 7em

}
.conteiner2{
    font-family: 'Public Sans';
    line-height: 2em;
    font-style: normal;
    font-weight: 500;
     font-size: 16px;
     margin-left: 45em;
   ;
     position: absolute;
     top: 258px;
}
.item2{
    border: 1px solid #ADADAD;
    width: 392px;
     height: 40px;
     margin-bottom: 7em;
}
.coiteiner3{
    font-family: 'Public Sans';
    line-height: 2em;
    font-style: normal;
    font-weight: 500;
     font-size: 16px;
     margin-left: 45em;
     
     position: relative;
    bottom: 24.2em;
}

*/





.blok{
    
    margin-left: 17em;
    margin-top: 2em;
        min-width: 700px;
        max-width: 1000px;
        margin: 0 auto;
        
}


.block1{
    
    display: inline-block;margin-left: 5em
}
    


.www {
    width: 392px;
    height: 40px;
    
}

.block2{
    display: flex;
    justify-content: end;
    
    display: inline-block;
    margin-left: 3em;
}

.qqq{
    
    width: 24px;
    height: 24px;
    border: 1 solid #ADADAD;
    
}


.bl{
     width: 392px;
    height: 40px;
}

.block3{ display: inline-block; margin-left: 5em;}
.block4{ display: inline-block; margin-left: 2.7em;}
.block5{display: inline-block;margin-left: 5em;}   
.block6{display: inline-block;margin-left: 2.7em}  
.block7{    margin-left: 5em;} 
.block8{display: inline-block;margin-left: 5em}   


  .Purged{
    display: inline-block;
    box-sizing: border-box;
    background: aquamarine;
width: 24px;
height: 24px;
border: 1px solid #ADADAD;
margin-left: 5em;

}
.Purged1{
    display: inline-block;
}

.block9{ display: inline-block;margin-left: 2.7em;}

.block10{margin-left: 5em;}

.block11{margin-left: 530px;
    margin-top: -6em;
}

.block12{display: inline-block;margin-left: 5em;}
.block13{display: inline-block;margin-left: 3em}

.hr{
    margin-top: 3em;
}

.block15{
    margin-top: 3em;
    margin-left: 4.4em;

}

.block16{
    margin-top: 3em;
    display: inline-block;
    margin-left: 5em;
}


input[name="one"]{
    display: none;
}
input[name="one"] + label {
    width: 24px;
    height: 24px;
    display: inline-block;
    text-align: right;
    border: 1px solid #ADADAD;
background-image: url(img/arrow-down-s-line.png);
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 100px;
}
input[name="one"]:checked + label {
    background-color: deeppink;
    
}

.span   {
    margin-left: 10em
}


input[name="lupa"]{

    background-image: url(img/search-line.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center right;

}


input[name="ok"]{
    background-image: url(img/arrow-down-s-line.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center right;
}




.block17{
    display: inline-block;
    margin-left: 0.9em
}




.hr1{
    margin-top: 4em;


     
}
.block18{
    margin-top: 2em;
    margin-left: 4em;
}
.block19{
    display: inline-block;margin-left: 5em
}
.block20{
    display: inline-block;
    margin-left: 2.7em
}

.block21{
    display: inline-block;margin-left: 4.5em
}
.block22{
    display: inline-block;margin-left: 2.7em
}

.block23{
    display: inline-block;margin-left: 4.6em
}
.block24{
    display: inline-block;margin-left: 2.7em;
}

.block25{
    display: inline-block;margin-left: 4.7em;
}
.block26{
    display: inline-block;margin-left: 2.7em;
}
.block27{
    display: inline-block;margin-left: 4.9em;
}
.block28{
    display: inline-block;margin-left: 2.7em;
}
.block29{
    margin-left: 4.9em;
}
.hr2{
    margin-top: 3em;
}

.block30{
    margin-top: 3em;margin-left: 5.1em;
}

.block31{
    display: inline-block;margin-left: 5.1em;
}

.block32{
    display: inline-block;margin-left: 2.7em;
}

.block33{
    display: inline-block;margin-left: 5.1em
}
.block34{
    display: inline-block;margin-left: 2.7em;
    
}

.hr3{
    margin-top: 3em;
}

.button {
    background: blue;
    width: 69px;
height: 40px;
text-decoration: none;
color: white;

position: relative;
    
    top: 3em;
    left: 64em;
}


