
:root {
  background-color: #F5F5F5;
}

.header {
    display: flex;
justify-content: space-between;
padding: 25px;
background: #202846;
color: #FFFFFF;
font-family:Arial, Helvetica, sans-serif

}


.header_section {
    
display: flex;
padding: 5px;
margin-left: 570px;
}


.gol {
padding: 5px 10px;
margin-left: 5px;
}



.log {

height: 0px;
margin-top: -78px;
    
margin-left: 115px;
    }


.ua {
        
position: absolute;
left: 75em;
    }


.blok {

    background: #C6C6DC;
    width: 83.4em;
    height: 8em;
    margin-top: 78px;
}


.bud {
 

color: #202846;
font-family: PT Sans;
font-size: 48px;
position: absolute;
top: 135px;
left: 200px;
}



.poisk {

    background: #E8E8E8;
    width: 71.4em;
    height: 4em;
    margin-top: 40px;
    margin-left: 5em
}

.poisk2  {
    margin-top: -40px;
    margin-left: 37em;
}


.poisk3 {
    position: absolute;
    margin-top: -22px;
    margin-left: 73em;
}

.Bloc {

}


.B {
    
    background: #BDBDC6;
    width: 71.4em;
    height: 20em;
    margin-top: 79px;
    margin-left: 5em;
}

.B:hover {
    background-color: #AEAEE2;

}



.img1 {
    padding: 2.4em 1.4em 1.4em 6em;
    
}



    
.infbloc {

    background-color: #D7D7DD;
    width: 29.4em;
    height: 9em;
    margin-top: -226px;
   
    margin-left: 615px;
}



.text {
    
    
    position: absolute;
    width: 462px;
    height: 126px;
    left: 704px;
    top: 477px;
}
.text {
    
    
    
   
    font-weight: 500;
    font-size: 17px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #202846;

    font-family: 'PT Sans';
    font-style: normal;
}



.lin {

    border: 3px solid #FFFFFF;
}

.lin {
    position: absolute;
    width: 28.9em;
    height: 200p;
    left: 44em;
    top: 28.6em;
}

.nazv {

    position: absolute;
    width: 9em;
    height: 19em;
    left: 21.9em;
    top: 13.4em;
}

 


.nazv {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px; 
    color: #353C57;
}

.detal {
    height: 25px;
    width: 97px;
    padding: 12px;
    border-radius: 74px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.detal {

background-color: #202846;
color:#F5F5F5


}

.detal:hover {
    background-color:#EF075B;
}

.detal {
    position: absolute;
    
    left: 1145px;
    top: 655px;
}



.zvez {

    
    position: absolute;
    
    left: 73em;
    top: 24em;
}


.zvez:hover{
 background-color: 
    #F2F60C;
}

.img2 {
    padding: 2.4em 38em 10em 6em
}

.text2 {
    
    position: absolute;
    
    width: 368px;
    height: 138px;
    left: 747px;
    top: 890px;
}

.text2{
    font-weight: 500;
    font-size: 17px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #202846;

    font-family: 'PT Sans';
    font-style: normal;
}
    
.infbloc2 {

    background-color: #D7D7DD;
    width: 29.4em;
    height: 9em;
    margin-top: -346px;
    margin-left: 615px;
}
    
    .lin2 {
        border: 3px solid #FFFFFF;
    }

    .lin2  {
        position: absolute;
        width: 29em;
        
        left: 44em;
        top: 54em;
    }

 .nazv2 {
    
    
    position: absolute;
    
    left: 705px;
    top: 845px;
}
   

 .nazv2 {

 
    
    line-height: 6px; 
    font-size: 32px;
}

.nazv2 {

    font-weight: 500;
    color: #353C57;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.detal2 {

    height: 25px;
    width: 97px;
    padding: 12px;
    border-radius: 74px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.detal2 {
    
    background-color: #202846;
    color:#F5F5F5
}

.detal2:hover {
    background-color:#EF075B;
}

.detal2 {
    position: absolute;
    left: 1142px;
    top: 1054px;
}


.zvez2 {

position: absolute;
top: 49em;
left: 1173px;
}

.zvez2:hover{
 background-color: 
    #F2F60C;
}

.img3 {
  padding: 2.6em 35em 3em 6em;
}

.text3 {
    font-weight: 500;
    font-size: 17px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #202846;

    font-family: 'PT Sans';
    font-style: normal;
}
.text3 {
    position: absolute;
    width: 488px;
    height: 85px;
    left: 699px;
    top: 1296px;
}

.infbloc3 {
    background-color: #D7D7DD;
    width: 31em;
    height: 10em;
    margin-top: -252px;
    margin-left: 610px;
}

.lin3 {
    border: 3px solid #FFFFFF;
}

.lin3  {
    position: absolute;
    width: 29.9em;
    left: 44.4em;
    top: 78em;
}

.nazv3 {

    font-weight: 500;
    color: #353C57;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nazv3{
    position: absolute;
    left: 706px;
    top: 1229px;
}

.nazv3 {
    line-height: 6px;
    font-size: 32px;
}

.detal3 {
    height: 25px;
    width: 97px;
    padding: 12px;
    border-radius: 74px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.detal3 {
    
    background-color: #202846;
    color:#F5F5F5
}

.detal3:hover {
    background-color:#EF075B;
    
}

.detal3 {
    position: absolute;
    left: 1149px;
    top: 1453px;
}




.zvez3 {

    position: absolute;
    top: 74em;
    left: 1170px;
    }
    
    .zvez3:hover{
     background-color: 
        #F2F60C;
    }


    .img4 {
        padding: 2.6em 35em 3em 6em;
    }

    .text4 {
    font-weight: 500;
    font-size: 17px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #202846;

    font-family: 'PT Sans';
    font-style: normal;
    }
    .text4{
    position: absolute;
    width: 494px;
    height: 85px;
    left: 686px;
    top: 1720px;
}
    
.infbloc4 {
    background-color: #D7D7DD;
    width: 32em;
    height: 10em;
    margin-top: -230px;
    margin-left: 594px;
}

.lin4 {
    border: 3px solid #FFFFFF;
}

.lin4  {
    position: absolute;
    width: 31.5em;
    left: 683px;
    top: 105em;
}
  
.nazv4 {

    font-weight: 500;
    color: #353C57;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nazv4{
    position: absolute;
    left: 686px;
    top: 1658px;
}

.nazv4 {
    line-height: 6px;
    font-size: 32px;
}

.detal4 {
    height: 25px;
    width: 97px;
    padding: 12px;
    border-radius: 74px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.detal4 {
    
    background-color: #202846;
    color:#F5F5F5
}

.detal4:hover {
    background-color:#EF075B;
}

.detal4 {
    position: absolute;
    left: 1148px;
    top: 1852px;
}

.zvez4 {

    position: absolute;
    top: 99em;
    left: 1171px;
    }
    
    .zvez4:hover{
     background-color: 
        #F2F60C;
    }
    .scroll {

        position: fixed;
        width: 168px;
        width: 199px;
        left: 1244px;
        top: 465px;
}


.bloks {
    background: #C6C6DC;
    width: 1338px;
    height: 94px;
    
    margin: 180px 0px;
}

.Cab {
    position: absolute;
    
    left: 195px;
    top: 2100px;
}

.Cab {
    font-family: 'PT Sans';
    font-size: 48px;
    color: #202846;
    font-weight: 400;
}

.Lich {
background: #BDBDC6;
width: 920px;
height: 420px;
list-style: none;
}
.Lich {
    
    margin: -90px 100px 63px 186px;
}
.foto{

    width: auto;
    padding: 28px;
}
.ava{
    margin: 10px
}


.Opti{
    margin: 10px;
}
.name{
    color: #353C57;
    font-family: PT Sans;
    font-size: 30px;
    font-style: italic;
    font-weight: 700
}
.name{
    position: absolute;
    top: 2289px;
    left: 572px;
}
.Lini {
    border: 2px solid #FFFFFF;
}
.Lini{
    margin: -310px 60px -2px 339px;
}
.Sta{
    color: #353C57;
    font-family: PT Sans;
    font-size: 30px;
    font-style: italic;
    
}
.Sta{
    margin: 20px 20px 20px 338px;
}

.Lini2{
    border: 2px solid #FFFFFF;
}
.Lini2{
    margin: -9px 58px 0px 339px;
}
.Data{
    color: #353C57;
    font-family: PT Sans;
    font-size: 30px;
    font-style: italic;
}
.Data{
    margin: 10px 10px 10px 339px;
}
.Lini3{
    border: 2px solid #FFFFFF;  
}
.Lini3{
    
    margin: 18px 58px 10px 340px;
}
.Mob{
    color: #353C57;
    font-family: PT Sans;
    font-size: 30px;
    font-style: italic;
}
.Mob{
    margin: 10px 59px 10px 334px;
}
.Lini4{
    border: 2px solid #FFFFFF; 
}
.Lini4{
    margin: 18px 58px 10px 340px;
}
.Pochta{
    color: #353C57;
    font-family: PT Sans;
    font-size: 30px;
    font-style: italic; 
}
.Pochta{
    margin: 10px 58px 10px 340px; 
}
.Lini5{
    border: 2px solid #FFFFFF;
}
.Lini5{
    margin: 18px 58px 10px 340px;
}
.We{
    height: 25px;
    width: 97px;
    padding: 12px;
    border-radius: 74px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}
.We{
    background-color: #202846;
    color:#F5F5F5
}
.We{
    position: absolute;
    left: 595px;
}

.BLOC{
    background: #C6C6DC;
    width: 1338px;
    height: 94px;
    
    margin: 240px 0px;
}

.Contact {
    font-family: 'PT Sans';
    font-size: 48px;
    color: #202846;
    font-weight: 400; 
}

.Contact{
    margin: -315px 0px 0px 221px;
}

.Telef{
    color: #000000;
    font-family: PT Sans;
font-size: 20px;
font-weight: 100;
text-align: center;
}
.Telef{
    padding: 79px 540px 0px 0px;
}

.Polosa {
    border: 1px solid #202846;
    width: 146px;
}
.Polosa{
    position: relative;
    top: 0px;
    left: 357px;
} 
.Namber {
    color: #000000;
    font-family: PT Sans;
font-size: 20px;
font-weight: 100;
text-align: center
}
.Namber {
    position: relative;
    margin-right: 473px;
}
.Graf{
    color: #000000;
    font-family: PT Sans;
font-size: 20px;
font-weight: 100;
text-align: center
}
.Graf {
    position: relative;
    bottom: 45px;
}  
.Polosa2 {
    border: 1px solid #202846;
    width: 146px;
}
.Polosa2{
    margin: -48px 0px 0px 592px;
}

.Time{
    color: #000000;
    font-family: PT Sans;
font-size: 17px;
text-align: center
}

.Time{
    position: relative;
    padding-right: 47px;
    top: -15px;
}
.email{
    color: #000000;
    font-family: PT Sans;
    font-size: 20px;
    text-align: right;
}
.email{
    position: relative;
    bottom: 114px;
    right: 366px;
}


.emailAdr{
    color: #000000;
    font-family: PT Sans;
    font-size: 17px;
    text-align: end;
    
}

.emailAdr{
    position: relative;
    
    margin-right: 330px;
    bottom: 114px;
    text-decoration: none;
}

.Polosa3{
    border: 1px solid #202846;
    width: 146px;
}
.Polosa3{
    margin-left: 877px;
    margin-top: -136px;
}

.Adress{
    color: #000000;
    font-family: PT Sans;
font-size: 20px;
font-weight: 100;
}
.Adress{
    margin-left: 360px;
    margin-top: 193px;
}
.Polosa4{
    border: 1px solid #202846;
    width: 250px;
}
.Polosa4{
    margin-left: 350px;
}
.Adress1{
    color: #000000;
    font-family: PT Sans;
font-size: 20px;
font-weight: 100;
}
.Adress1{
    margin-left: 348px;
}
.maps{
    position: absolute;
    padding-top: -51px;
    right: 100px;
    top: 3195px;
}