.strong {
  color: #3E45E8;  
  
  font-size: 3em;
  line-height: 70px;
  
}

.strong{
    margin-left: 432px;
}


.ua{

    position: absolute;
    width: 1036px;
    height: 439px;
    left: 118px;
    top: 305px;
}
    
.ua {  
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 157.3%;
    
    
}

.img {


}

.rew {
    height: 136px;
    width: 22px;
    left: 165px;
    top: 365px;
    border-radius: 0px;
    position: absolute;
      

    color: #1E8DF2;
}

.wer  {

    

    position: absolute;
    width: 22px;
    height: 136px;
    left: 165px;
    top: 500px;
    
 color: #FBE201;   

}

#ua {

   
font-size: 3em;
font-weight: 700;
line-height: 63px;
letter-spacing: 0em;
text-align: left;
top: 1000px;


padding-top: 90px;
}

.bac {
    

width: 495px;

background: #3E45E8;
border: 5px solid #3E45E8;
}

.img1  {
position: absolute;
    height: 481px;
width: 30%;
left: 5px;
top: 1106px;


}

.img2 {
    position: absolute;
width: 30%;
height: 481px;
left: 419px;
top: 1106px;
}

.img3 {

    position: absolute;
width: 30%;
height: 481px;
left: 835px;
top: 1106px;

}


.sp  {
font-weight: 700;
font-size: 2.5em;
    

margin-top: 17em;
}

.sp{
    margin-left: 370px;
}

.bic  {
    
    position: absolute;
    left: 27em;
    background: #3E45E8;
    border: 5px solid #3E45E8;
    width: 30em;
}


.imgua  {

    
    margin-left: 17em;
    margin-top: 5em;
}


.button  {

    margin-left: 25em;
    margin-top: 5em;
    

}


.bott   {
    
    margin-top: -6em;
    margin-left: 31em;
}

.pol {

    background-color: #2F4A4B;
    width: 1500px;
    height: 35em;
    margin-bottom: 21em;
    margin-top: 5em;
}



.strong2 {
    color: #3E45E8;  
    
    font-size: 3em;
    line-height: 70px;
    

    margin-top: -18.5em;
}
.strong2{
    margin-left: 457px;
}

.mail {

    font-size: 3em;
    line-height: 70px;
    margin-top: 0.5em;
    color: #A89D9D;
}
.mail{
    margin-left: 415px
}

.tel {

    color: #A89D9D;

    font-size: 3em;
    line-height: 70px;
    margin-top: 0.5em;
}
.tel{
    margin-left: 458px;
}
.ins {


    font-size: 3em;
    line-height: 70px;
    margin-top: 0.5em;
    margin-left: -6em;
}
.ins{
    margin-left: 414px;
}

.twi {

    font-size: 3em;
    line-height: 70px;
    margin-top: -1.7em;
    
}
.twi{margin-left: 532px;}


.fes {

    font-size: 3em;
    line-height: 70px;
    margin-top: -1.9em;
    }
.fes{margin-left: 645px}
.tlg  {

    font-size: 3em;
    line-height: 70px;
     margin-top: -1.7em;
    margin-left: 6em;
}
.tlg{margin-left: 755px;
}