:root {
    background-color: #E5E5E5;;
    display: flex;
    justify-content: center;
    
}


section .blok{
    
    
}


.blok{
    background-color: #f4ae7f;
    
    width: 800px;
    height:525px;
border-radius:25px;
padding: 50px;

}


.blok1{
background-color: white;
width: 239px;
height: 357px;
border-radius: 20px;
box-shadow: 10px;
padding: 5px;
box-shadow: 7px 7px 0px 0px black;
font-family: 'Work Sans';
}


.name{
    font-family: 'Work Sans';

font-weight: 700;
font-size: 21px;
text-align: center;
}

.cart {
padding-left: 4em;



}


.blok2{
    background-color: white;
    width:239px;
    height: 66px;
border-radius: 20px;
padding-top: 23px;
text-align: center;
font-family: 'Work Sans';
box-shadow: 7px 7px 0px #000000;
}

.blok2{
    display: grid;
    grid-column: 1;
    grid-row: 8;
}
    

.blok3{
    background-color: white;
    width: 400px;
    height: 66px;
border-radius: 20px;
padding: 0px 10px 75px 31px;
font-family: 'Work Sans';
box-shadow: 7px 7px 0px #000000;
}

.blok3{
    display: grid;
    grid-column: 6;
    grid-row: 1;
}



.blok4{
    background-color: white;
    width: 200px;
    height: 118px;
    border-radius: 20px;
    padding: 5px;
    font-family: 'Work Sans';
    box-shadow: 7px 7px 0px #29A71E;
    
}

.Goals{

    color: #29A71E;
}
.blok4{
    display: grid;
    grid-column: 6;
    grid-row: 4;
}





.blok5{
    background-color: white;
    width: 200px;
    height: 165px;
    border-radius: 20px;
    font-family: 'Work Sans';
    padding: 7px;
    box-shadow: 7px 7px 0px #3675B0;
}

.Dream{
    color: #3675B0;
}
.blok5{
    display: grid;
    grid-column: 6;
    grid-row: 7;
}


.blok6{
    background-color: white;
    width: 200px;
    height: 198px;
    border-radius: 20px;
    font-family: 'Work Sans';
    padding: 6px;
    box-shadow: 7px 7px 0px #E13535;
}

.Frustrations{
    color: #E13535;
}
.blok6{
    display: grid;
    grid-column: 10;
    grid-row: 4
}

.blok7{
    background-color: white;
    width: 200px;
    height: 104px;
    border-radius: 20px;
    font-family: 'Work Sans';
    padding: 10px;
    box-shadow: 7px 7px 0px #000000;
}

.blok7{
    display: grid;
    grid-column: 10;
    grid-row: 8;
}


section{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 100px ;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px ;
    gap: 10px;
}
