
:root{
    background-color: rgb(37, 35, 38);
}

.body {
    margin: 0;
    padding: 0;
}


.header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 2rem;
}

.ul{
margin: 0;
display: flex;
list-style: none;
width: 40%;
justify-content: space-between;
padding-left: unset;
}

.Str2 {
    margin: 0rem 0em 0em -19em
}

.Nome{
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}
.Nome:hover {
    
    color: #FFB742;
}
.About{
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}
.About:hover{
    color: #FFB742;
}
.Skills{
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}
.Skills:hover{
    color: #FFB742;
}
.Portfolio{
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}
.Portfolio:hover{
    color: #FFB742;
}
.Contact{
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}
.Contact:hover{
    color: #FFB742;
}

.HireMe {
    height: 20px;
    width: 60px;
    padding: 10px;
    border-radius: 74px;
    background-color:#FFB742;
    
    text-align: center;
}
.HireMe{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    /* font-size: 18px; */
    line-height: 22px;
    cursor: pointer;
}

.Kartik {
    text-align: center;
    margin-top: 2em;
    color: white;
    }
.Kartik {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    }    

.Lin{

    width: 11em;
    margin-left: 39em;
}
.Lin {
    border: 1px solid #FFB742;
}

.Frond{
    font-size: 48px;
    text-align: center;
    font-family: 'Inter';
    font-weight: 700;
}

.Frond{
    margin-top: 10px;
    color: white;
}

.Simple{
    
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 51px;
}
.Simple {
    text-align: center;
    margin-top: 10px;
}

.avatar{
    margin-top: 7em;
    margin-left: 36em
   }

.conteiner{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 100px;
}




.blok1{
    color: white;
   text-align: center;
   font-family: 'Inter';
    
    font-weight: 700;
    font-size: 16px;
}

.blok1{
    width: 32%;
    height: 7em;
    border-radius: 15px;
    background-color: #292B2E;

}
.blok1:hover{
    background-color: #FFB742;
}

.IMG1{
    left: 10em;
    bottom: 12em;
    position: relative;
}


.blok2{
    color: white;
    text-align: center;
    font-family: 'Inter';
    
    font-weight: 700;
    font-size: 16px;
}
.blok2{
    width: 32%;
    height: 7em;
    border-radius: 15px;
    background-color: #292B2E;
}
.blok2:hover{
    background-color: #FFB742;
}

.IMG2{
    position: relative;
    left: 34em;
    bottom: 16em;
}


.blok3{
    color: white;
    text-align: center;
    font-family: 'Inter';
    
    font-weight: 700;
    font-size: 16px;
}
.blok3{
    width: 32%;
    height: 7em;
    border-radius: 15px;
    background-color: #292B2E;
}
.blok3:hover{
    background-color: #FFB742;
}

.IMG3{

    position: relative;
    left: 58em;
    bottom: 20em;
}

.WHOIAM{
    
    height: 10px;
    width: 75px;
    padding: 13px;
    border-radius: 74px;
    background-color: #292B2E;
    font-size: 10px;
    text-align: center;
    line-height: 12px;
    color: #FFB742;
}
.WHOIAM
    {position: relative;
    left: 70em;
    bottom: 6em;}

.AboutMe {
    color: white;
    font-size: 44px;
    font-weight: 1000;
}  
.AboutMe{
    position: relative;
    left: 15.9em;
    bottom: 1.6em;
    font-family: 'Roboto';

font-weight: 700;

}  
.Text{
    color: white;
    font-size: 12px;
    line-height: 20px;
}
.Text{
    position: relative;
    left: 53em;
    bottom: 5em
}
.imgos{
    position: relative;
    bottom: 17em;
}

.HireMe2 {

    height: 20px;
    width: 60px;
    padding: 10px;
    border-radius: 74px;
    background-color:#FFB742;
    font-size: 13px;
    text-align: center;
}  
.HireMe2 {
    height: 18px;
    width: 71px;
    padding: 10px;
    border-radius: 74px;
    background-color: #FFB742;
    font-size: 13px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    /* font-size: 18px; */
    line-height: 22px;
    cursor: pointer;
}
.HireMe2{
    position: relative;
    left: 54em;
    bottom: 46em;
}
.MYskills{
    height: 10px;
    width: 75px;
    padding: 13px;
    border-radius: 74px;
    background-color: #292B2E;
    font-size: 15px;
    text-align: center;
    line-height: 12px;
    color: #FFB742;
}
.MYskills{
    position: relative;
    bottom: 12em;
    margin-left: 6em;
}

.Whatmy{
    color: white;
    
    font-family: 'Roboto';

font-weight: 700;
font-size: 48px;
}
.Whatmy{
    position: relative;
    padding: 0px;
    right: 12em;
    bottom: 5em
}
.text2{
    color: white;
    line-height: 23px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
}
.text2{
    display: inline-block;
    position: relative;
    bottom: 22em;
    
}
.HireMe3{
    height: 18px;
    width: 71px;
    padding: 10px;
    border-radius: 74px;
    background-color: #FFB742;
    font-size: 13px;
    text-align: center;
}
.HireMe3{
    position: relative;
    left: 7em;
    bottom: 25em;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    /* font-size: 18px; */
    line-height: 22px;
    cursor: pointer;
}






.Kartinki{

   list-style: none;
   vertical-align: top;
   /*font-size: 1.7em;*/
}

.Kartinki::before{
    content: "";
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url(img/sprites.png);
    /* margin-right: 15px; */
    background-position: 0px 3px;
    /* background-color: #383E45; */
    background-color: #383E45;
    width: 48px;
    height: 48px;
    padding: 2px;
    display: inline-block;
    border-radius: 10px;
}


.Kartinki {
    position: relative;
    left: 47em;
    bottom: 43em;
}

    



.sprite1{
    background-color: #383E45;
    width: 48px;
    height: 48px;
    padding: 2px;
    display: inline-block;
    border-radius: 10px;
    margin: 10px;
}
.sprite1::before{
    content: "";
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url(img/sprites.png);
    /*margin-right: 15px;*/
    background-position: -47px 0px
}
.sprite1:hover{
    background-color: #FFB74280;
}


    

.sprite2{
    background-color: #383E45;
    width: 48px;
    height: 48px;
    padding: 2px;
    display: inline-block;
    border-radius: 10px;
    margin: 4px;
}

.sprite2::before{
    content: "";
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url(img/sprites.png);
    /*margin-right: 15px;*/
    background-position: -96px 0px
}
.sprite2:hover{
    background-color: #FFB74280;
}


.sprite3{
    background-color: #383E45;
    width: 48px;
    height: 48px;
    padding: 2px;
    display: inline-block;
    border-radius: 10px;
    margin: 4px;
}
 
.sprite3::before{
    content: "";
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url(img/sprites.png);
    /*margin-right: 15px;*/
    background-position: -144px 3px;
}
.sprite3:hover{
    background-color: #FFB74280;
}
.sprite4{
    background-color: #383E45;
    width: 48px;
    height: 48px;
    padding: 2px;
    display: inline-block;
    border-radius: 10px;
    margin: 4px;
}

.sprite4::before{
    content: "";
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url(img/sprites.png);
    /*margin-right: 15px;*/
    background-position: -192px 0px;
} 
.sprite4:hover{
    background-color: #FFB74280;
}
.sprite5{
    background-color: #383E45;
    width: 48px;
    height: 48px;
    padding: 2px;
    display: inline-block;
    border-radius: 10px;
    margin: 4px;
}
 
.sprite5::before{
    content: "";
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url(img/sprites.png);
    /*margin-right: 15px;*/
    background-position: -240px 0px;
}
.sprite5:hover{
    background-color: #FFB74280;
}
.sprite6{padding: 1px;}
   /* background-color: slategray;
    width: 50px;
    height: 50px;
    padding: 0px;
    display: inline-block*/

.sprite7{
    background-color: #383E45;
    width: 48px;
    height: 48px;
    padding: 2px;
    display: inline-block;
    border-radius: 10px;
    margin: 4px;
    margin-right: 5px
}

.sprite7::before{
    content: "";
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url(img/sprites.png);
    /*margin-right: 15px;*/
    background-position: 0px -51px;
}
.sprite7:hover{
    background-color: #FFB74280;
}
.sprite8{
    background-color: #383E45;
    width: 48px;
    height: 48px;
    padding: 2px;
    display: inline-block;
    border-radius: 10px;
    margin: 4px;
    margin-right: 5px
}

.sprite8::before{
    content: "";
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url(img/sprites.png);
    /*margin-right: 15px;*/
    background-position: -48px -50px;
}
.sprite8:hover{
    background-color: #FFB74280;
}
.sprite9{
    background-color: #383E45;
    width: 48px;
    height: 48px;
    padding: 2px;
    display: inline-block;
    border-radius: 10px;
    margin: 4px;
    margin-right: 5px
}

.sprite9::before{
    content: "";
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url(img/sprites.png);
    /*margin-right: 15px;*/
    background-position: -96px -144px;
}
.sprite9:hover{
    background-color: #FFB74280;
}
.sprite10{
    background-color: #383E45;
    width: 48px;
    height: 48px;
    padding: 2px;
    display: inline-block;
    border-radius: 10px;
    margin: 4px;
    margin-right: 5px
}

.sprite10::before{
    content: "";
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url(img/sprites.png);
    /*margin-right: 15px;*/
    background-position: -145px -240px;
}
.sprite10:hover{
    background-color: #FFB74280;
}
.sprite11{
    background-color: #383E45;
    width: 48px;
    height: 48px;
    padding: 2px;
    display: inline-block;
    border-radius: 10px;
    margin: 4px;
    margin-right: 5px
}

.sprite11::before{
    content: "";
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url(img/sprites.png);
    /*margin-right: 15px;*/
    background-position: -192px 48px;
}
.sprite11:hover{
    background-color: #FFB74280;
}
.sprite12{
    background-color: #383E45;
    width: 48px;
    height: 48px;
    padding: 2px;
    display: inline-block;
    border-radius: 10px;
    margin: 4px;
}

.sprite12::before{
    content: "";
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url(img/sprites.png);
    /*margin-right: 15px;*/
    background-position: -240px 47px
}
.sprite12:hover{
    background-color: #FFB74280;
}

.myworks{
    height: 10px;
    width: 75px;
    padding: 13px;
    border-radius: 74px;
    background-color: #292B2E;
    font-size: 15px;
    text-align: center;
    line-height: 10px;
    color: #FFB742;
}
.myworks{
    position: relative;
    left: 41em;
    bottom: 25em;
}
.Featured{
    color: white;
    font-size: 44px;
    font-weight: 1000;
    text-align: center;
}
.Featured{
    position: relative;
    bottom: 8.3em;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;

}

.Work {
    display: flex;
    justify-content: center;
    
}
.Work{
    color: white;
    position: relative;
    bottom: 21em;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
}


.App{
    
    display: flex;
    list-style: none;
    width: 35%;
    justify-content: space-between;
}
    

.App{
    color: white;
}

.App:hover{
    color: #FFB742;
}

.BLOC{
    display: flex;
    
    flex-basis: -72%;
    justify-content: center;
    
}

.BLOC{
    position: relative;
    bottom: 17em;
}

.i1{
    flex-basis: 31%;
}
.i2{
    flex-basis: 31%;
}



.BLOC2{
    display: flex;
    justify-content: center;
}
.BLOC2{
    position: relative;
    
    bottom: 15em;
}
.i4{
    flex-basis: 31%;
}
.i5{
    flex-basis: 31%;
}

.testimonials{
    color: white;
}
.testimonials{
    height: 12px;
    width: 111px;
    padding: 13px;
    border-radius: 74px;
    background-color: #292B2E;
    font-size: 13px;
    text-align: center;
    line-height: 10px;
    color: #FFB742;
}
.testimonials{
    margin-left: 46em;
    position: relative;
    bottom: 9em;
}

.customer{
    color: white;
    font-size: 36px;
    text-align: center;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;

}
.customer{
    position: relative;
    bottom: 3em;
}

.BLOC3{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    font-size: 14px;
}

.r1{
    background-color: white;
    width: 375px;
    height: 490px;
    margin: 15px;
    
}


.zvezda1{
    position: relative;
    left: 25px;
    top: 5em;
}


.zvezda2{
    position: relative;
    left: 51px;
    top: 50px;
}
.zvezda3{
    position: relative;
    left: 78px;
    top: 29px;
}
.zvezda4{
    position: relative;
    left: 104px;
    top: 0.6em}
.zvezda5{
    position: relative;
    left: 133px;
    top: -14px;
}  

.zvezda11{
    position: relative;
    left: 25px;
    top: 59px;
}
.zvezda22{
    position: relative;
    left: 54px;
    top: 38px
}
.zvezda33{
    position: relative;
    left: 83px;
    top: 17px
}
.zvezda44{
    position: relative;
    left: 110px;
    top: -5px;
}
.zvezda55{
    position: relative;
    left: 138px;
    top: -25px
}

.imgL{
    margin-left: 2em;
    margin-top: 5em
}
/*.futur{
background-color: #1C1C1C;

width: 100%;
height: 10em;

}*/
.Gupta{
    position: relative;
    /* margin-left: 3em; */
    left: 8em;
    bottom: 4em;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}
.Gupta{
    position: relative;
    margin-left: 3em;
    left: 3em;
    bottom: 4em 
    font-family: 'Poppins';
    font-weight: 700;
}


.Designer{
    position: relative;
    left: 9em;
    bottom: 5em;
}

.banzal{
    color: #FFB742;
    font-size: 2em;
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
}
.banzal{
    position: relative;
    margin-left: 3em;
    /* margin-top: 23em; */
    top: 20em
}

.Creative{
    color: white;
    position: relative;
    top: 43em;
    left: 6em;
    
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
}
.Useful{
    color: white;
    position: relative;
    top: 34em;
    left: 28em;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
}
.qqq{
    color: white;
    position: relative;
    left: 21em;
    top: 34em;
    line-height: 30px
    
}
.qqq{font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;}
.futur{
    background-color: black;
    width: 100%;
    height: 22em;
    }


    


.Sotial{
    color: white;
    position: relative;
    /* margin-left: 48em; */
    /* margin-bottom: -13em; */
    left: 48em;
    bottom: -20em;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
}
.rrr{
    color: white;
    position: relative;
    left: 46.5em;
    /* bottom: -28em; */
    line-height: 29px;
    top: 20em;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
}
.Newsletter{
    color: white;
    position: relative;
    left: 64em;
    bottom: -8em;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
}
.Enter{
    color: white;
    position: relative;
    left: 64em;
    top: 11em
    } 
    
    
.Enter{   font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
 } 