body{
    margin: 0 auto;
    width: 100%;
    
}
div{
    
    
    height: 100vh;
}

.header{
    
    display: flex;
    justify-content: end;
   
    background: black;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin-left: 17em;
    align-items: center;
    position: fixed;
    height: 78px;
    z-index: 1
    }
.ul{
    display: flex;
list-style: none;
width: 40%;
justify-content: space-around;
align-items: center;
position: fixed;
}
.logo{
    display: inline-block;
 
    justify-content: space-evenly;
    width: 20%;
   
    position: fixed;
    align-items: center;
}



.vix1{
    height: 350px;
}



.img2{
    
    transform: translateX(-100vw);
    animation: img2Card 1s linear 1s forwards;
}

.img2 {
   
    margin-top: 5.5em;
    height: 260px;
    display: inline-block;
    padding: 8px;
    margin-left: 23em;
}


.vix2{
    height: 260px; 
}
.img3{
    height: 260px;
    display: inline-block;
    transform: translateX(100vw);
    animation: img3Card 1s linear 1s forwards;
}


.vix3{
    height: 260px;  
}
.img4{
    margin-left: 23.5em;
    display: inline-block;
    height: 233px;
    

    transform: translateX(-100vw);
    animation: img2Card 1s linear 1s forwards;
  }
 

  .vix4{
    height: 233px;
}  

.img5{
    
    padding: 8px;
    height: 230px;
    display:inline-block;
    transform: translateX(100vw);
    animation: img3Card 1s linear 1s forwards;
  }


.vix5{
    height: 230px; 
}


  .img6{
    justify-content: end;
    height: 350px;
    display: flex;
    margin-top: -22em;
    margin-right: 4em;
    transform: translateX(100vw);
    animation: img6Card 1s linear 2s forwards;
  }


  
.img1{
    margin-left: 4em;
    margin-top: -26em;

    
    height: 350px;
    display: flex;
    transform: translateX(-100vw);
    animation: img1Card 1s linear 2s forwards;
}


  .vix6{
    height: 350px;
}  

  @keyframes img2Card {
    from {
        transform: translateX(-100vw)
    }
  
     to {
        transform: translateX(0)
     }
}

@keyframes img3Card {
    from {
        transform: translateX(100vw)
    }
  
     to {
        transform: translateX(0)
     }

}

@keyframes img1Card {
    from {
        transform: translateX(-100vw)
    }
  
     to {
        transform: translateX(0)
     }
}

@keyframes img6Card {
    from {
        transform: translateX(100vw)
    }
  
     to {
        transform: translateX(0)
     }
}

.shar1 {
    display: inline-block;
    margin-top: 5em;
}
.cart1{
    width: 200px;
    height: 200px;

}

.shar2 {
    display: inline-block;
}
.cart2{
    width: 200px;
    height: 200px;

}

.shar3 {
    
}
.cart3{
    width: 200px;
    height: 200px;

}

.shar5 {
    
}
.cart5{
    width: 200px;
    height: 200px;

}

.cart6{
    width: 513px;
    height: 636px
}


.text1{
    
}
